.memory-strategies {
  margin: 11rem auto;
  padding: 0 12rem;


  @include respond-to(desktop-small){
    padding: 0 10rem;
  }

  @include respond-to(tablet-large){
    padding: 0 8rem;
  }

  @include respond-to(tablet){
    padding: 0 4rem;
  }

  @include respond-to(mobile-medium){
    padding: 0 2rem;
    margin: 8rem auto 4rem auto;
  }

  &__title{
    font-size: 3.2rem;
    margin: 0 0 3rem 0;

    @include respond-to(tablet){
      font-size: 2.5rem;
    }

    @include respond-to(mobile-medium){
      line-height: 2.2rem;
      font-size: 2rem
    }

    @include respond-to(mobile-small){
      font-size: 2rem;
    }
  }

  &__subtitle{
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 3rem 0;

    @include respond-to(tablet){
      font-size: 1.8rem;
    }

    @include respond-to(mobile-medium){
      line-height: 2.2rem;
      font-size: 1.4rem
    }

    @include respond-to(mobile-small){
      font-size: 1.2rem;
    }
  }

  &--iframe{
    width: 600px;
    height: 350px;

    @include respond-to(tablet-large){
      width: 500px;
      height: 350px;
    }

    @include respond-to(mobile-medium){
      max-width: 320px;
      min-width: 300px;
      height: 250px;
    }

    @include respond-to(mobile-small){
      max-width: 300px;
      min-width: 250px;
      height: 220px;
    }
  }
}
