.profile {
  background-color: #ede9e0;
  background-image: url("/background-profile.png");
  background-size: 40%;
  background-position: 0 0;
  padding-bottom: 6rem;

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 4rem 0;
    padding-bottom: 6rem;
    background-color: $background-light;
    border-bottom: 1px solid #ddd;

    @include respond-to(mobile-small){
      padding: 3rem 0;
    }
  }

  &__img {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 5rem;
    color: rgb(198, 199, 202);
    background-color: white;
    border-radius: 50%;


    @include respond-to(tablet-large){
      width: 110px;
      height: 110px;
    }

    @include respond-to(mobile-small){
      width: 90px;
      height: 90px;
    }
  }

  &__data {
    font-family: $font-primary;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    color: $primary;

    span {
      font-weight: 400;
      color: gray;
    }
  }

  &__statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content 1fr;
    color: $primary;
    gap: 4rem 2rem;
    margin: 0 9rem;
    padding: 8rem 0;
    font-family: $font-primary;


    @include respond-to(tablet-large) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 2rem;
      gap: 2rem 2rem;
      padding: 4rem 0;
    }
  }

  &__data {
    font-weight: 600;
    color: $primary;
  }

  &__displayname,
  &__mail {
    font-weight: 400;
  }

  &__mail{
     filter: blur(3px);
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    padding: 2.7rem;
    margin: 0 auto;
    box-shadow: $shadow-cards;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    background-color: white;

    &:hover {
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
    }

    @include respond-to(desktop-small){
      max-width: 270px;
      padding: 2.5rem;
      font-size: 1.6rem;
      padding: 1.5rem;
    }

    @include respond-to(tablet-large){
      max-width: 300px;
    }

    @include respond-to(mobile-small) {
      padding: 1.5rem;
      max-width: 290px;
    }
  }

  &__title {
    color: $primary;
    margin: 3rem 0;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 3rem;

    @include respond-to(desktop-small){
      margin: 1rem 0;
      font-size: 2.7rem; 
    }

    @include respond-to(mobile-medium){
      font-size: 2.4rem;
    }

    @include respond-to(mobile-small){
      font-size: 2.2rem;
    }
  }

  &__chart {
    width: 100%;
    align-self: center;
    justify-self: center;
    max-width: 300px;
    margin: 0 auto;
    height: auto;
    max-height: 300px;
    padding: 0;

    @include respond-to(desktop-small){
      max-height: 230px;
      max-width: 230px;
    }

    @include respond-to(tablet-large) {
      max-height: 250px;
      max-width: 300px
    }
  }

  &__sub {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 10px;
    font-size: 2.5rem;

    @include respond-to(desktop-small){
      font-size: 2.2rem;
    }

    @include respond-to(mobile-medium){
      font-size: 2.1rem;
    }

    @include respond-to(mobile-small){
      font-size: 2rem;
    }
  }
}
