.verbal-memory {
  height: 100vh;
  justify-items: center;
  align-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 4rem;

    @include respond-to(tablet-large) {
      gap: 3.5rem;
    }

    @include respond-to(mobile-small) {
      gap: 2.5rem;
    }
  }

  &__title-1 {
    font-size: 3rem !important;

    @include respond-to(mobile-medium){
      font-size: 2rem;
    }
  }

  &__instruction {
    color: #1b395d;
    width: 80% !important;
    margin-bottom: 2rem;

    @include respond-to(tablet-large){
      font-size: 1.6rem;
      line-height: 2.8rem;
      width: 80%;
    }

    @include respond-to(mobile-medium){
      width: 90%;
      font-size: 1.4rem !important;
      line-height: 2.2rem;
    }

    @include respond-to(mobile-small){
      font-size: 1.3rem !important;
    }
  }

  &__heading{


    @include respond-to(desktop-small){
      font-size: 2.5rem !important;
      width: 80% !important;
      line-height: 3rem;
    }

    @include respond-to(tablet-large){
      font-size: 2rem !important;
    }

    @include respond-to(mobile-medium){
      font-size: 1.8rem !important;
      width: 80% !important;
      line-height: 3rem;
    }

    @include respond-to(mobile-small){
      font-size: 1.6rem !important;
      font-weight: 600;
    }

  }

  &__score--container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
    text-wrap: nowrap;
    align-items: center;
  }

  &__points {
    font-family: $font-primary;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

    @include respond-to(mobile-small) {
      font-size: 1.6rem;
    }
  }

  &__word {
    padding: 2rem;
    width: 100vw;
    font-family: $font-4;
    font-size: 5rem;
    font-weight: bold;
    background-color: white;


    @include respond-to(tablet-large) {
      font-size: 4rem;
      padding: 1.5rem;
    }

    @include respond-to(mobile-small) {
      font-size: 3.5rem;
      padding: 1.2rem;
    }
  }

  &__buttons--container {
    display: flex;
    gap: 4rem;
    margin-top: 2rem;
  }

  &__answer {
    color: $primary;
    font-family: $font-primary;
    background-color: white;
    padding: 1rem 12rem;
    border: 1px solid rgba(187, 187, 187, 0.4);
    border-radius: 8px;
    font-size: 2.4rem;

    @include respond-to(mobile-small) {
      padding: 0.5rem 12rem;
      font-size: 1.4rem;
    }
  }

  &__button {
    margin-top: auto;
    align-self: center;
    padding: 1.5rem 4rem;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1.6rem;

    &:hover {
      transform: scale(1.02);
    }

    @include respond-to(mobile-small) {
      margin-top: 1rem;
      font-size: 1.2rem !important;
    }
  }

  &__button-1 {

    @include respond-to(mobile-small){
      font-size: 1.4rem;
      padding: 0.8rem 2rem;
    }

  }
}
