.corsi-block {
  justify-items: center;
  align-content: center;
  height: fit-content;
  min-height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    margin: 0 auto;
    margin-bottom: 4rem;

    @include respond-to(mobile-small) {
      gap: 2.5rem;
      padding: 1.5rem;
    }
  }

  &__title {
    padding: 6rem 0 0 0;

    &--game {
      padding-top: 2rem;
      padding-bottom: 0;
      font-size: 3.2rem;
      font-weight: 600;
    }
  }

  &__heading{
    margin-bottom: 1rem;

    @include respond-to(desktop-small){
      font-size: 2.5rem !important;
      width: 80% !important;
      line-height: 3rem;
    }

    @include respond-to(tablet-large){
      font-size: 2rem !important;
    }

    @include respond-to(mobile-medium){
      font-size: 1.8rem !important;
      width: 80% !important;
      line-height: 3rem;
    }

    @include respond-to(mobile-small){
      font-size: 1.6rem !important;
      font-weight: 600;
    }

  }

  &__button {

    @include respond-to(mobile-small){
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
    }

  }

  &__score--container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    text-wrap: nowrap;
  }

  &__feedback {
    display: flex;
    height: 20px;
    padding-bottom: 10px;
    font-family: $font-primary;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;

    @include respond-to(tablet) {
      font-size: 1.4rem;
    }

    @include respond-to(mobile-medium) {
      font-size: 1.2rem;
      width: 80%;
    }
  }

  &__instruction {
    color: #1b395d;
    margin-bottom: 2rem;

    @include respond-to(tablet-large){
      font-size: 1.6rem;
      line-height: 2.8rem;
      width: 80%;
    }

    @include respond-to(mobile-medium){
      width: 90%;
      font-size: 1.4rem !important;
      line-height: 2.2rem;
    }

    @include respond-to(mobile-small){
      font-size: 1.3rem !important;
    }
  }

  &__answer {
    padding: 1rem 12rem;
    color: $primary;
    font-family: $font-primary;
    background-color: white;
    font-size: 2.4rem;
    border: 1px solid rgba(187, 187, 187, 0.4);
    border-radius: 8px;

    @include respond-to(mobile-small) {
      padding: 0.5rem 12rem;
      font-size: 1.4rem;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    position: relative;
    margin: 0 auto;
    transform: translateX(-20px);

    @include respond-to(tablet) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      transform: none;
      gap: 10px;
      padding-bottom: 3rem;
    }
  }

  &__item {
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;

    @include respond-to(tablet) {
      width: 53px;
      height: 53px;
      transform: none !important;
      grid-column: auto !important;
      grid-row: auto !important;
    }

    &.highlight {
      background-color: $primary !important;
      transition: background-color 0.3s ease;
    }

    &.wrong {
      background-color: #e70b0b !important;
      transition: background-color 0.3s ease;
    }

    &.clicked {
      background-color: $primary;
      transition: background-color 0.2s ease;
    }

    &--1 {
      // background-color: palevioletred;
      grid-column: 2;
      grid-row: 5;
      transform: translate(70px, -10px);
    }

    &--2 {
      // background-color: turquoise;
      grid-column: 4;
      grid-row: 5;
      transform: translate(130px, -40px);
    }

    &--3 {
      // background-color: red;
      grid-column: 2;
      grid-row: 4;
      transform: translate(-70px, 0px);
    }

    &--4 {
      // background-color: purple;
      grid-column: 4;
      grid-row: 3;
      transform: translate(40px, 20px);
    }

    &--5 {
      // background-color: green;
      grid-column: 3;
      grid-row: 3;
      transform: translate(-25px, -10px);
    }
    &--6 {
      // background-color: yellow;
      grid-column: 1;
      grid-row: 2;
      transform: translate(-20px, -30px);
    }
    &--7 {
      // background-color: orange;
      grid-column: 5;
      grid-row: 2;
      transform: translate(80px, 0px);
    }
    &--8 {
      // background-color: blue;
      grid-column: 4;
      grid-row: 1;
      transform: translate(30px, -20px);
    }
    &--9 {
      // background-color: magenta;
      grid-column: 3;
      grid-row: 1;
      transform: translateX(-15px);
    }
  }
}
