.footer {
  background-color: $primary;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  @include respond-to(mobile-small) {
    padding: 4rem;
  }

  &__logo {
    width: 20%;

    @include respond-to(mobile-small) {
      width: 40%;
    }
  }

  &__copy {
    font-family: $font-display;
    font-size: 12px;
    color: $white;

    @include respond-to(mobile-small) {
      font-size: 12px;
    }
  }
}
