.number-span {
  justify-items: center;
  align-content: center;
  height: fit-content;
  min-height: 100vh;

  @include respond-to(mobile-medium){
    padding: 0;
  }

  &__number {
    font-size: 6rem;

    @include respond-to(desktop-small){
      font-size: 4rem;
    }

    @include respond-to(mobile-small) {
      font-size: 3.2rem;
    }
  }

  &__heading{

    @include respond-to(desktop-small){
      font-size: 2.5rem !important;
      width: 80% !important;
      line-height: 3rem;
    }

    @include respond-to(tablet-large){
      font-size: 2rem !important;
    }

    @include respond-to(mobile-medium){
      font-size: 1.8rem !important;
      width: 80% !important;
      line-height: 3rem;
    }

    @include respond-to(mobile-small){
      font-size: 1.6rem !important;
      font-weight: 600;
    }

  }

  &__number--box {
    padding: 5rem 0;
    width: 100vw;
    background-color: white;

    @include respond-to(mobile-small) {
      padding: 1.5rem 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: center;

    @include respond-to(mobile-medium) {
      gap: 2.5rem;
    }

    &--result {
      gap: 1rem;
    }
  }

  &__result {
    padding: 0px;

    @include respond-to(mobile-small){
      font-size: 2rem;
    }
    
  }

  &__heading {
    width: 100%;
    text-align: center;
  }

  &__answer {
    padding: 1rem 12rem;
    color: $primary;
    font-family: $font-primary;
    background-color: white;
    font-size: 2.4rem;
    border: 1px solid rgba(187, 187, 187, 0.4);
    border-radius: 8px;

    @include respond-to(mobile-small) {
      padding: 0.5rem 12rem;
      font-size: 1.4rem;
    }
  }

  &__title {
    padding: 2rem 0 0 0;
  }

  &__instruction {
    color: #1b395d;
    margin-bottom: 2rem;

    @include respond-to(tablet-large){
      font-size: 1.6rem;
      line-height: 2.8rem;
      width: 80%;
    }

    @include respond-to(mobile-medium){
      width: 90%;
      font-size: 1.4rem !important;
      line-height: 2.2rem;
    }

    @include respond-to(mobile-small){
      font-size: 1.3rem !important;
    }
  }

  &__input {
    padding: 0.5rem 3rem;
    border: none;
    font-size: 3rem;
    border-radius: 5px;

    &::placeholder {
      color: $primary;
      opacity: 0.6;
      font-size: 2rem;
    }

    @include respond-to(mobile-small) {
      padding: 0.5rem 0rem;
    }
  }

  &__button {
    margin-top: auto;
    align-self: center;

    &--result {
      margin-top: 2rem;
      padding: 1.2rem 2.5rem !important;
      font-size: 1.6rem;
    }

    @include respond-to(mobile-small) {
      margin-top: 1rem;
    }
  }
}
